.book__tile {
  border: 1px solid #CCCCCC;
  background-color: #555a66;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s;
  width: 250px;
}

.book__tile:hover {
  background-color: #484d57;
  box-shadow: 0 0 24px 0 #555a66;
  cursor: pointer;
}

.book__tile:hover .book__image {
  transform: scale(1.2) translate(0, -20px);
  box-shadow: 20px 20px 20px 0 black;
}

.image__container {
  height: 200px;
  width: 200px;
  display: flex;
}

.book__image {
  height: 95%;
  border-radius: 0.5rem;
  margin: auto;
  transition: transform 0.5s, box-shadow 0.5s;
}

hr {
  border-top: 1px solid #CCCCCC;
  width: 90%;
  margin: 5px auto;
}

.book__details {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.book__title--bold {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: large;
  height: 2.5em;
  color: white;
}

.book__title--bold:hover {
  overflow: visible;
  white-space: normal;
}

.book__subdetails {
  display: flex;
  justify-content: space-between;
  color: white;
}

.book__author--small {
  font-size: small;
}

.book__price--red {
  white-space: nowrap;
  background-color: #3C4959;
  font-weight: bold;
  font-size: 24px;
  padding: 0 15px;
  color: #DD4124;
  border-radius: 0.5rem;
}

