.container {
  border-radius: 0.5rem;
  border: 1px solid white;
  margin: 10px auto;
  width: 33%;
}

.card__title--large {
  font-family: Garamond, sans-serif;
  font-size: 48px;
  font-weight: bold;
  white-space: normal;
}

.layout__item {
  border: 1px solid white;
  border-radius: .5rem;
  background-color: #555a66;
  margin: 5px;
  width: 100%;
}

.order__container {
  display: flex;
}

.order__container--details {
  width: 75%;
}

.order__container--button {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__step {
  pointer-events: none;
}

.order__step--canceled {
  transform: scale(0.85);
}

@media screen and (max-width: 600px) {
  .mobile--disabled {
    display: none !important;
  }

  .mobile--flex {
    flex-direction: column !important;
  }

  .mobile--width {
    width: 87vw !important;
  }
}