.welcome__container {
  border: 1px solid #3C4959;
  border-radius: .5rem;
  height: 55px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #555a66;
  transition: transform 0.2s;
}

.welcome__container:hover {
  cursor: pointer;
  background-color: #272a2e;
  transform: scale(1.1);
}

.welcome__span--white {
  font-family: Garamond, sans-serif;
  font-weight: bold;
  color: white;
  margin: 10px;
}