.container {
  display: flex;
}

.categories {
  border: 1px solid #CCCCCC;
  border-radius: 0.5rem;
  flex-basis: 15%;
  margin: 5px 5px 5px 0px;
  display: flex;
  flex-direction: column;
  background-color: #A1A1A6;
  height: fit-content;
  padding-bottom: 5px;
}

.categories__title {
  margin: 1px auto;
  font-family: Garamond, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

hr {
  border-top: 1px solid #CCCCCC;
  width: 90%;
  margin: 5px auto;
}

.categories__line--bold, .categories > hr:last-of-type {
  margin: 5px auto;
  width: 85%;
  border-top: 2px solid #252526;
}

.category__button {
  margin: 5px auto;
  transition: transform .2s;
  --sds-c-button-text-color: white;
}

.category__button:hover {
  cursor: pointer;
  transform: scale(1.2);
  --sds-c-button-text-color-hover: #F4D8AE;
}

.book__list {
  flex-basis: 85%;
  margin: 5px;
}

.container__search {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.search {
  flex-basis: 30%;
}

.search__input {
  margin: 5px;
  transition: transform 0.2s;
  --sds-c-input-color-background: #3C4959;
  --sds-c-input-color-background-focus: #555a66;
  --sds-c-input-color-border: #3C4959;
  --sds-c-input-color-border-focus: #A1A1A6;
  --sds-c-input-radius-border: 1rem;
  --sds-c-input-shadow: 0 0 10px 0 #3C4959;
  --slds-c-input-shadow-focus: 0 0 17px 0 #3C4959;
  --sds-c-input-text-color: white;
  --sds-c-input-text-color-focus: white;
}

.search__input:hover {
  transform: scale(1.05);
}

.badges {
  flex-basis: 15%;
}

.category__badge--cancel {
  background-color: #555a66;
  transition: transform .2s;
}

.category__badge--cancel:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.books__layout {
  margin: 5px;
}

.error {
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  .mobile--disabled {
    display: none !important;
  }

  .mobile--width {
    width: 80vw !important;
  }
}