.container {
  background-color: #A1A1A6;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.order__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__title--large {
  font-family: Garamond, sans-serif;
  font-size: 48px;
  font-weight: bold;
}

hr {
  border-top: 1px solid #CCCCCC;
  width: 90%;
  margin: 5px auto;
}

.order__line--bold {
  margin: 5px auto;
  width: 85%;
  border-top: 2px solid #252526;
}

.order__main {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 20px;
}

.order__body {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.book__tile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #555a66;
  padding: 5px;
  border-radius: 0.5rem;
}

.cover__image {
  width: 60px;
  border-radius: 0.5rem;
}

.book__detail--img {
  flex-basis: 7%;
}

.book__detail--wide {
  flex-basis: 30%;
}

.book__detail--small {
  font-size: 18px;
  text-align: center;
}

.book__link--large {
  font-size: 24px;
  text-align: center;
}

.vertical__border--small {
  height: 100%;
  margin: 0 2px;
  border-right: 1px solid white;
}

.vertical__border--large {
  margin: 0 2px;
  border-right: 1px solid white;
}

.order__footer {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order__summary {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: #3C4959;
}

.order__summary--large {
  border-radius: 0.5rem;
  background-color: #610000;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.order__summary--small {
  margin: 20px auto;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .mobile--flex {
    flex-direction: column !important;
  }

  .mobile--width {
    width: 87vw !important;
  }
}